/*去除按鈕左邊上面留白的默認樣式*/

body {
    margin: 0;
    padding: 0;
    background-color: #dad9d9; /*全局背景顏色*/
}

/*定義頁面盒狀模型*/
* {
    box-sizing: border-box;
}

/*所有表格頭加背景顏色*/
th{
    background-color: aliceblue !important;
}



